footer{
  background-color: #282930;
}
/* layout */
footer .inner-footer{
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
/* footer - top-footer */
.top-footer{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #4B4B50;
  color: #fff;
  background-color: #282930;
  position: relative;
}
.top-footer .inner-footer::after{
  content: "";
  display: block;
  clear: both;
}
.top-footer .nav-label{
  width: 155px;
  float: left;
  color: inherit;
  font-family: var(--point-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 37px;
  padding: 26px 0;
  position: relative;
  text-align: left;
}
.top-footer .nav-label::after{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../img/footer-arrow.svg") no-repeat center / cover;
}
.top-footer ul.footer-nav{
  width: calc(100% - 200px);
  float: right;
}
.top-footer ul.footer-nav::after{
  content: "";
  clear: both;
  display: block;
}
.top-footer ul.footer-nav li{
  width: 20%;
  float: left;
  position: relative;
  padding: 26px 0;
  line-height: 37px;
  text-align: center;
}
.top-footer ul.footer-nav li a{
  display: inline-block;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: inherit;
  vertical-align: top;
}
.top-footer ul.footer-nav li::after{
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-redColor);
  transition: all 0.3s ease-in;
}
.top-footer ul.footer-nav li:hover::after{
  content: "";
  width: 100%;
}
.top-footer ul.footer-nav li span.icon{
  display: inline-block;
  width: 37px;
  height: 37px;
  vertical-align: top;
  margin-right: 8px;
}
.top-footer .inner-footer ul.footer-nav li:nth-child(1) span{
  background: url("../../img/landmark.svg") no-repeat center;
}
.top-footer .inner-footer ul.footer-nav li:nth-child(2) span{
  background: url("../../img/education.svg") no-repeat center;
}
.top-footer .inner-footer ul.footer-nav li:nth-child(3) span{
  background: url("../../img/horn.svg") no-repeat center;
}
.top-footer .inner-footer ul.footer-nav li:nth-child(4) span{
  background: url("../../img/child.svg") no-repeat center;
}
.top-footer .inner-footer ul.footer-nav li:nth-child(5) span{
  background: url("../../img/digital.svg") no-repeat center;
}
/* bottom-footer */
.bottom-footer{
  padding: 50px 10px 30px;
}
.bottom-footer ul.policies::after {
  content: "";
  clear: both;
  display: block;
}
.bottom-footer ul.policies li{
  float: left;
  color: #fff;
}
.bottom-footer ul.policies li:nth-child(1){
  color: #ffc11d;
}
.bottom-footer ul.policies li a{
  position: relative;
  margin-right: 60px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}
.bottom-footer ul.policies li:not(:last-child) a::after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background-color: #eee;
}
.bottom-footer .address-box{
  width: 100%;
  margin: 37px 0 26px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.bottom-footer .address-box::after{
  content: "";
  clear: both;
  display: block;
}
.bottom-footer .address-box address{
  float: left;
  width: 70%;
  height: 80px;
  font-size: 16px;
  line-height: 80px;
  text-align: left;
  color: #eee;
}
.bottom-footer .address-box .other-site{
  float: right;
  width: 30%;
  height: 80px;
  position: relative;
  border-left: 1px solid #eee;
}
.bottom-footer .address-box .other-site button{
  display: block;
  width: 100%;
  height: inherit;
  padding: 0 40px;
  font-size: 16px;
  line-height: 80px;
  text-align: left;
  color: #eee;
  cursor: pointer;
  border: 0;
  background-image: url("../../img/site-down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 24px center;
}
.bottom-footer .address-box .other-site button.menu-on{
  background-image: url("../../img/site-up-arrow.svg");
}
.bottom-footer .address-box .other-site ul{
  display: none;
  width: 100%;
  height: 240px;
  overflow-y: scroll;
  position: absolute;
  top: -240px;
  padding: 0 20px;
  border: 1px solid #eee;
  background-color: #282930;
}
.bottom-footer .address-box .other-site ul li{
  padding: 5px;
  border-bottom: 1px solid #eee;
  text-align: left;
}
.bottom-footer .address-box .other-site ul li a{
  display: block;
  text-align: left;
  line-height: 40px;
  color: #eee;
}

/* bottom-footer - rights, sns, mark */
.bottom-footer .siteinfo::after{
  content: "";
  clear: both;
  display: block;
}
.bottom-footer .siteinfo .left-box{
  float: left;
}
.bottom-footer .siteinfo .left-box::after{
  content: "";
  display: block;
  clear: both;
}
.bottom-footer .siteinfo .left-box p{
  float: left;
  font-size: 14px;
  text-align: left;
  color: #b6b6b6;
  margin-right: 10px;
}
.bottom-footer .siteinfo .sns-icons{
  float: right;
}
.bottom-footer .siteinfo .sns-icons ul li{
  float: left;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #eee;
}
.bottom-footer .siteinfo .sns-icons ul li a{
  display: block;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  color: var(--main-darkGreyColor);
}