header{
}
/*top-header*/
.top-header{
  background-color: var(--main-darkGreyColor);
  position: relative;
  z-index: 100;
}
.top-header .top-inner{
  width: 1440px;
  margin: 0 auto;
}
.top-header .top-inner ul{
  text-align: center;
  padding: 10px 20px;
}
.top-header .top-inner ul li{
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.top-header .top-inner ul li:not(:last-child){
  margin-right: 72px;
}
.top-header .top-inner ul li span{
  display: block;
  font-size: 14px;
  line-height: 30px;
  float: left;
}
.top-header .top-inner ul li span.info-label{
  color: #ffc11d;
  margin-right: 25px;
  font-weight: 700;
  display: inline-block;
}
.top-header .top-inner ul li span.info{
  color: #fff;
}
.top-header .top-inner ul li span.info a.sns-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../img/sns-icon.png");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 5px 0;
}
.top-header .top-inner ul li span.info a.sns-icon:not(:last-child){
  margin-right: 10px;
}
.top-header .top-inner ul li span.info a.sns-icon:nth-child(1){
  background-position: 0px 0px;
}
.top-header .top-inner ul li span.info a.sns-icon:nth-child(2){
  background-position: -20px 0px;
}
.top-header .top-inner ul li span.info a.sns-icon:nth-child(3){
  background-position: -40px 0px;
}
.top-header .top-inner ul li span.info a.sns-icon:nth-child(4){
  background-position: -60px 0px;
}
.top-header .top-inner ul li span.info a.sns-icon:nth-child(5){
  background-position: -80px 0px;
}
/*bottom-header*/
.bottom-header nav{
  width: 100%;
  min-width: 1440px;
  height: 100px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.bottom-header nav::after{
  content: "";
  display: block;
  clear: both;
}
.bottom-header nav h1{
  width: 180px;
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 50px;
}
.bottom-header nav h1 a{
  display: block;
  width: 100%;
  height: 40px;
}
.bottom-header nav h1 a img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.bottom-header nav .gnb{
  min-width: 836.15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
}
.bottom-header nav .gnb ul.depth1-ul{
  display: inline-block;
  text-align: center;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li{
  display: inline-block;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li>a{
  display: block;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100px;
  color: #222;
  position: relative;
  transition: all ease 0.3s;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li:not(:last-child)>a::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li:hover>a::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--main-redColor);
  position: absolute;
  left: 0;
  bottom: 0;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb{
  height: 0;
  position: absolute;
  top: 100px;
  background-color: #fff;
  overflow: hidden;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title{
  border-right: 1px solid #ddd;
  padding: 60px 30px;
  background-color: #fff;
  position: relative;
  float: left;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title::before{
  content: "";
  width: 100%;
  height: 66px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #e0e0e0;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title::after{
  content: "";
  width: 305px;
  height: 156px;
  position: absolute;
  right: 12px;
  bottom: 40px;
  background: url("../../img/gnb_bg.png") no-repeat center / cover;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title p.lnb-title-txt{
  text-align: left;
  font-size: 14px;
  color: var(--main-ligthGreyColor);
  float: right;
  opacity: 0;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li:hover .lnb .lnb-title p.lnb-title-txt{
  opacity: 1;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title p.lnb-title-txt strong{
  font-size: 24px;
  font-weight: 700;
  font-family: var(--point-font);
  display: block;
  color: #222;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-title p.lnb-title-txt span.bar{
  display: block;
  width: 30px;
  height: 5px;
  background-color: var(--main-redColor);
  margin: 12px 0;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu{
  width: 1020px;
  height: 100%;
  border-right: 1px solid #ddd;
  padding: 30px;
  text-align: left;
  opacity: 0;
  transition: all 0.2s ease;
  float: left;
  position: relative;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li:hover .lnb .lnb-menu{
  opacity: 1;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu::before{
  content: "";
  width: 1px;
  height: calc(100% - 60px);
  background-color: #ddd;
  position: absolute;
  top: 30px;
  left: calc((100% - 62px) / 3 + 18px);
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu::after{
  content: "";
  width: 1px;
  height: calc(100% - 60px);
  background-color: #ddd;
  position: absolute;
  top: 30px;
  right: calc((100% - 62px) / 3 + 20px);
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul{
  height: auto;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li{
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 40px);
  margin-bottom: 20px;
  margin-right: 60px;
  text-align: left;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li:nth-child(3n){
  margin-right: 0px;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li>a{
  display: block;
  width: 100%;
  font-weight: 400;
  font-family: var(--point-font);
  padding: 16px;
  border: 1px solid #ddd;
  color: #333;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li>a:hover{
  background-color: var(--main-blueColor);
  color: #fff;
  border: 1px solid var(--main-blueColor);
  box-shadow: 4px 8px 8px #a2a2a27b;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li ul.depth3-ul{
  padding: 10px 16px;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li ul.depth3-ul li.depth3-li>a{
  display: block;
  padding: 10px;
  position: relative;
  color: #606060;
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li ul.depth3-ul li.depth3-li>a:hover{
  color: var(--main-blueColor);
}
.bottom-header nav .gnb ul.depth1-ul li.depth1-li .lnb .lnb-menu ul.depth2-ul li.depth2-li ul.depth3-ul li.depth3-li>a::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--main-blueColor);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.bottom-header nav .goto-menu{
  width: 180px;
  position: absolute;
  top: 0;
  right: 50px;
  padding: 35px 0;
}
.bottom-header nav .goto-menu .language-change{
  float: left;
  position: relative;
}
.bottom-header nav .goto-menu .language-change::before,
.bottom-header nav .goto-menu .language-change::after{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bottom-header nav .goto-menu .language-change::before{
  left: 2px;
  background: url("../../img/language-icon.svg") no-repeat left center / 24px 12px;
}
.bottom-header nav .goto-menu .language-change::after{
  right: 2px;
  background: url("../../img/language-icon.svg") no-repeat right center / 24px 12px;
}
.bottom-header nav .goto-menu .language-change.active::after{
  transform: translateY(-50%) scaleY(-1);
}
.bottom-header nav .goto-menu .language-change p.selected-language{
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #333;
  padding: 0 20px;
  cursor: pointer;
  color: #444;
  font-weight: 300;
}
.bottom-header nav .goto-menu .language-change:hover p.selected-language{
  border-bottom: 1px solid var(--main-redColor);
}
.bottom-header nav .goto-menu .language-change ul.options{
  width: 100%;
  height: 92px;
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 101;
}
.bottom-header nav .goto-menu .language-change ul.options li{
  text-align: center;
}
.bottom-header nav .goto-menu .language-change ul.options li a{
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
}
.bottom-header nav .goto-menu ul.icon-menu{
  float: right;
}
.bottom-header nav .goto-menu ul.icon-menu li{
  width: 30px;
  height: 30px;
  float: left;
}
.bottom-header nav .goto-menu ul.icon-menu li:first-child{
  margin-right: 20px;
}
.bottom-header nav .goto-menu ul.icon-menu li a{
  display: block;
  width: 100%;
  height: inherit;
  background-image: url("../../img/icons.png");
  background-repeat: no-repeat;
}
.bottom-header nav .goto-menu ul.icon-menu li:nth-child(1) a{
  background-position: 0px -46px;
}
.bottom-header nav .goto-menu ul.icon-menu li:nth-child(2) a{
  background-position: -31px -46px;
}
.bottom-header nav .goto-menu ul.icon-menu li:nth-child(1) a:hover{
  background-position: 0px -77px;
}
.bottom-header nav .goto-menu ul.icon-menu li:nth-child(2) a:hover{
  background-position: -31px -77px;
}
