main{
  width: 100%;
  padding: 52px 0 82px;
  overflow: hidden;
}
main section .inner-sec{
  width: 1340px;
  margin: 0 auto;
}
/* scroll Animate */
.scollAniFirst{
  animation: scrollAni 1s ease-in-out;
}
.scollAniSecond{
  animation: scrollAni 1s ease-in-out 0.2s;
}
@keyframes scrollAni{
  from{
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
/* common*/
.title h2{
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--point-font);
  color: var(--main-darkGreyColor);
}
.title p{
  padding-top: 15px;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-darkGreyColor);
}
.slide_btn_off{
  display: none !important;
}
.slide-controls button{
  float: left;
  display: block;
  padding: 0;
  cursor: pointer;
}
.slide-controls button:not(.line){
  width: 22px;
  height: 22px;
}
.slide-controls button.slide-count{
  margin-right: 10px;
}
.slide-controls button.slide-count span{
  display: block;
}
.slide-controls button.slide-count span.current-num{
  color: var(--main-redColor);
  font-weight: 700;
}
.slide-controls button.slide-count span.current-num, span.total-num{
  width: 100%;
  height: inherit;
  font-size: 16px;
  line-height: 22px;
}
.slide-controls button.slide-count span.line{
  display: block;
  width: 1px;
  height: 16px;
  transform: rotate(35deg);
  background-color: var(--main-lightGreyColor);
  margin: 3px 0 0 0;
}
.slide-controls button.slide-btn{
  margin: 0 10px;
}
.slide-controls button.slide-btn{
  background-image: url("../../img/icons.png");
  background-repeat: no-repeat;
}
.slide-controls button.left-arrow{
  background-position: -23px 0px;
}
.slide-controls button.pause{
  background-position: -69px 0px;
}
.slide-controls button.pause.replay{
  background-position: 0px 0px !important;
}
.slide-controls button.right-arrow{
  background-position: -46px 0px;
}
.slide-controls button.left-arrow:hover{
  background-position: -23px -23px;
}
.slide-controls button.pause:hover{
  background-position: -69px -23px;
}
.slide-controls button.pause.replay:hover{
  background-position: 0px -23px !important;
}
.slide-controls button.right-arrow:hover{
  background-position: -46px -23px;
}
/* more */

/* section1 - site title*/
.site-title{
  animation: sec1_2Ani 0.3s ease-in;
}
@keyframes sec1_2Ani {
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.site-title .inner-sec h2{
  display: none;
}
.site-title .inner-sec p{
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 300;
  font-family: var(--point-font);
}
.site-title .inner-sec strong{
  font-size: 55px;
  font-weight: 700;
  font-family: var(--point-font);
}
/* section2 - main banner*/
.main-banner{
  animation: sec1_2Ani 0.3s ease-in;
}
.main-banner h2{
  display: none;
}
.main-banner .slide-controls{
  width: 100%;
  padding: 46px 0 36px;
}
.main-banner .slide-gallery{
  width: 100%;
  height: 590px;
  position: relative;
}
.main-banner .slide-gallery .slide_ul{
  width: calc(1020px * 7 + 30px * 6);
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.main-banner .slide-gallery .slide_ul .slide_li:not(:last-child){
  margin-right: 30px;
}
.main-banner .slide-gallery .slide_ul .slide_li{
  width: 1020px;
  height: inherit;
  float: left;
}
.main-banner .slide-gallery .slide_ul .slide_li a{
  display: block;
  width: 100%;
  height: inherit;
}
/* section3 */
.event-sec .inner-sec{
  padding: 167px 0 0;
}
.event-sec .inner-sec::after{
  content: "";
  clear: both;
  display: block;
}
.event-sec .title .more::before{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  position: absolute;
  right: 55px;
  top: 12px;
  background-color: var(--main-redColor);
}
.event-sec .title .more{
  position: absolute;
  font-size: 16px;
  line-height: 26px;
  color: #494949;
}
/* section3 layout */
.event-sec .event-info{
  float: left;
  width: 775px;
  height: 605px;
  padding: 0 20px;
  margin-right: 80px;
}
.event-sec .event-poster{
  float: left;
  width: 485px;
  height: 605px;
  padding-right: 58px;
}
/* section3 - event info */
.event-sec .event-info .title{
  width: 100%;
  position: relative;
}
.event-sec .event-info .title p{
  margin-bottom: 51px;
}
.event-sec .event-info .title a{
  top: 0;
  right: 20px;
}
.event-sec .event-info ul{
  width: 100%;
}
.event-sec .event-info ul li{
  border-bottom: 1px solid var(--main-lightGreyColor);
}
.event-sec .event-info ul li:hover{
  border-bottom: 1px solid var(--main-darkGreyColor);
}
.event-sec .event-info ul li a{
  display: block;
  padding: 30px 0 23px;
}
.event-sec .event-info ul li a::after{
  content: "";
  clear: both;
  display: block;
}
.event-sec .event-info ul li a .category{
  width: 65px;
  float: left;
  position: relative;
}
.event-sec .event-info ul li a .category::after{
  content: "";
  display: block;
  width: 2px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: -1px;
  background-color: #eee;
}
.event-sec .event-info ul li a .category .top-category{
  font-size: 24px;
  line-height: 38px;
  color: var(--main-blueColor);
}
.event-sec .event-info ul li a .category .bottom-category{
  font-size: 14px;
  line-height: 22px;
  color: var(--main-darkGreyColor);
}
.event-sec .event-info ul li a .event{
  width: 580px;
  float: left;
  padding-left: 20px;
}
.event-sec .event-info ul li a .event .title{
  font-size: 24px;
  overflow: hidden;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--main-darkGreyColor);
}
.event-sec .event-info ul li a .event .date{
  font-size: 14px;
  line-height: 22px;
  color: var(--main-lightGreyColor);
}
.event-sec .event-info ul li a .arrow{
  float: right;
  width: 48px;
  height: 48px;
  background-image: url("../../img/icons.png");
  background-repeat: no-repeat;
  background-position: 0 -108px;
}
.event-sec .event-info ul li:hover a .arrow{
  background-position: 0 -157px;
}
.event-sec .event-poster{
  background-image: url("../../img/poster_bg.png");
  background-repeat: no-repeat;
  background-position: 445px 10px;
}
.event-sec .event-poster img{
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 20px 35px rgba(0, 1, 27, 0.25);
}
/* section4 - exhibit sec*/
.exhibit-sec .inner-sec{
  padding: 240px 0 0;
}
.exhibit-sec .inner-sec::after{
  content: "";
  display: block;
  clear: both;
}
.exhibit-sec .inner-sec .special-exhibit{
  width: 447px;
  margin: 124px 102px 0 0;
  float: left;
}
.exhibit-sec .inner-sec .permanent-exhibit{
  width: 733px;
  float: left;
}
/* exhibits txt */
.exhibit-txt{
  display: block;
  width: 100%;
}
.exhibit-category{
  font-size: 20px;
  font-weight: 700;
  color: #ed1a3b;
}
.exhibit-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: var(--point-font);
  margin: 13px 0 17px;
  color: var(--main-darkGreyColor);
}
.exhibit-time, .exhibit-place{
  font-size: 20px;
  color: #656565;
}
.exhibit-time strong, .exhibit-place strong{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #444;
  padding-right: 30px;
  position: relative;
}
.exhibit-time strong::after, .exhibit-place strong::after{
  content: "";
  width: 1px;
  height: 16px;
  background-color: #666;
  position: absolute;
  right: 15px;
  top: 7px;
}
.exhibit-sub{
  font-size: 16px;
  color: #444;
  line-height: 20px;
}
/*section4 - special exhibit*/
.special-exhibit{
  padding: 16px 16px 0 0;
  position: relative;
  border-bottom: 1px solid var(--main-darkGreyColor);
}
.special-exhibit::before{
  content: "";
  display: block;
  width: 146px;
  height: 146px;
  background-color: var(--main-redColor);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.special-exhibit a{
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 42px;
}
.special-exhibit a img{
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 20px 35px rgba(0, 1, 27, 0.25);
}
.special-exhibit a .exhibit-category{
  margin: 56px 0 0;
}
.special-exhibit a .exhibit-title{
  display: -webkit-box;
  height: 72px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.permanent-exhibit .exhibit-slide{
  margin-top: 176px;
  width: 100%;
  position: relative;
}
.permanent-exhibit .exhibit-slide::before{
  content: "";
  display: block;
  width: 80vw;
  height: 502px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f7f3ef;
  z-index: -1;
}
.permanent-exhibit .exhibit-slide .img-slide{
  width: 100%;
  background-color: #fff;
  padding: 0 58px 58px 0;
}
.permanent-exhibit .exhibit-slide .img-slide .img-slide-inner{
  width: 100%;
  height: 512px;
  position: relative;
  overflow: hidden;
}
.permanent-exhibit .exhibit-slide .img-slide .img-gallery{
  width: 300%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.permanent-exhibit .exhibit-slide .img-slide .img-gallery ul{
  width: 100%;
  height: inherit;
}
.permanent-exhibit .exhibit-slide .img-slide .img-gallery ul::after{
  content: "";
  display: block;
  clear: both;
}
.permanent-exhibit .exhibit-slide .img-slide .img-gallery li{
  width: 33.3333%;
  height: inherit;
  float: left;
}
.permanent-exhibit .exhibit-slide .img-slide .slide-controls{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 22px 27px 0;
}
.permanent-exhibit .exhibit-slide .info-slide{
  width: 100%;
  height: 247px;
  position: relative;
  overflow: hidden;
  background-color: #f7f3ef;
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery{
  width: 300%;
  height: inherit;
  position: absolute;
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery ul{
  width: 100%;
  height: inherit;
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery ul::after{
  display: block;
  clear: both;
  content: "";
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery ul li{
  width: 33.3333%;
  height: inherit;
  float: left;
  padding: 57px 60px 40px;
  position: relative;
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery ul li a.more-btn{
  position: absolute;
  top: 104px;
  right: 60px;
  font-size: 16px;
  color: #494949;
}
.permanent-exhibit .exhibit-slide .info-slide .info-gallery ul li a.more-btn::before{
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  background-color: var(--main-redColor);
}
/* section5 - notice*/
.news-sec .inner-sec{
  padding: 290px 0 0;
}
.news-sec .inner-sec .board-con{
  width: 100%;
  margin: 0 0 72px;
}
.news-sec .inner-sec .schedule-con::after{
  content: "";
  clear: both;
  display: block;
}
.news-sec .inner-sec .schedule-con .calendar-con{
  float: left;
  width: 650px;
  height: 500px;
  padding: 58px 60px 0px;
  border: 1px solid var(--main-lightGreyColor);
}
.news-sec .inner-sec .schedule-con .popup-con{
  float: right;
  width: 650px;
  height: 500px;
  border: 1px solid var(--main-lightGreyColor);
}
/*section5 - board*/
.board-con .board-head{
  width: 100%;
}
.board-con .board-head::after{
  content: "";
  display: block;
  clear: both;
}
.board-con .board-head h2{
  float: left;
  margin: 0 60px 0 0;
}
.board-con .board-head ul{
  float: left;
}
.board-con .board-head ul li{
  float: left;
  padding: 0 20px 14px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--point-font);
  line-height: 32px;
  color: #656565;
  cursor: pointer;
  position: relative;
}
.board-con .board-head ul li:hover{
  color: var(--main-darkGreyColor);
}
.board-con .board-head ul li:not(:last-child):after{
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 12px;
  right: -1.5px;
  border-radius: 50%;
  background-color: var(--main-lightGreyColor);
}
.board-con .board-head ul li.board-title-on{
  color: var(--main-darkGreyColor) !important;
}
.board-con .board-head a.more{
  float: right;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #494949;
}
.board-con .board-head a.more::before{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  position: absolute;
  right: 55px;
  top: 12px;
  background-color: var(--main-redColor);
}
.board-con .board-body{
  margin: 16px 0 0;
}
.board-con .board-body ul.board::after{
  display: block;
  content: "";
  clear: both;
}
.board-con .board-body ul.board.board-off{
  display: none !important;
}
.board-con .board-body ul.board li{
  float: left;
  width: 50%;
  border-bottom: 1px solid var(--main-lightGreyColor);
}
.board-con .board-body ul.board li:nth-child(2n){
  padding: 0 38px 0;
}
.board-con .board-body ul.board li:nth-child(odd){
  padding: 0 38px 0 5px;
  position: relative;
}
.board-con .board-body ul.board li:nth-child(odd)::after{
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--main-lightGreyColor);
}
.board-con .board-body ul.board li a{
  width: 100%;
  height: 94px;
  display: block;
  line-height: 34px;
  padding: 30px 0;
}
.board-con .board-body ul.board li a p.board-title{
  width: 80%;
  height: 34px;
  line-height: inherit;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-con .board-body ul.board li a p.board-title span{
  line-height: inherit;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-darkGreyColor);
  position: relative;
}
.board-con .board-body ul.board li a p.board-title span::after{
  content: "";
  display: block;
  width: 0px;
  height: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 240, 240);
  z-index: -1;
  transition: all ease 0.4s;
}
.board-con .board-body ul.board li:hover a p.board-title span::after{
  width: 100%;
}
.board-con .board-body ul.board li a p.board-date{
  width: 20%;
  float: right;
  line-height: inherit;
  text-align: right;
  font-size: 14px;
  color: var(--main-lightGreyColor);
}
/*section5 - schedule*/
.schedule-con .calendar-con p.calendar-title{
  font-size: 30px;
  font-weight: 700;
  font-family: var(--point-font);
  line-height: 40px;
}
.schedule-con .calendar-con p.calendar-title strong{
  color: var(--main-redColor);
}
.schedule-con .calendar-con p.calendar-title span.week-num{
  text-align: right;
  float: right;
  font-size: 18px;
  font-family: var(--point-font);
  font-weight: 400;
  color: var(--main-lightGreyColor);
  position: relative;
}
.schedule-con .calendar-con p.calendar-title span.week-num::before{
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../../img/calendar.svg") no-repeat center / 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -22px;
}
.schedule-con .calendar-con ul.calendar-table{
  width: 100%;
  margin: 30px 0 36px;
  border-bottom: 1px solid var(--main-lightGreyColor);
}
.schedule-con .calendar-con ul.calendar-table::after{
  content: "";
  display: block;
  clear: both;
}
.schedule-con .calendar-con ul.calendar-table li{
  width: calc(100% / 7);
  float: left;
}
.schedule-con .calendar-con ul.calendar-table li span{
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--point-font);
}
.schedule-con .calendar-con ul.calendar-table li span.day{
  background-color: #ffecef;
  font-size: 18px;
  line-height: 60px;
  color: var(--main-lightGreyColor);
}
.schedule-con .calendar-con ul.calendar-table li span.date{
  padding: 10px 0 5px;
}
.schedule-con .calendar-con ul.calendar-table li span.date span.closed-back{
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
  color: var(--main-lightGreyColor);
  width: 38px;
  height: 38px;
  margin: 0 auto;
  border-radius: 50%;
}
.schedule-con .calendar-con ul.calendar-table li.closed-day span.date span.closed-back{
  background-color: var(--main-redColor);
  color: #fff !important;
}
.schedule-con .calendar-con ul.calendar-table li span.closed-mark{
  font-size: 12px;
  color: var(--main-redColor);
  margin-bottom: 10px;
}
.schedule-con .calendar-con .calendar-info .info-row:first-child{
  margin-bottom: 22px;
}
.schedule-con .calendar-con .calendar-info .info-row span{
  display: inline-block;
  vertical-align: top;
}
.schedule-con .calendar-con .calendar-info .info-row span.info-label{
  width: 105px;
  font-weight: 500;
}
.schedule-con .calendar-con .calendar-info .info-row span.info-data{
  color: var(--main-lightGreyColor);
}
.schedule-con .calendar-con .calendar-info .info-row:first-child span.info-data{
  color: var(--main-redColor);
}
.schedule-con .calendar-con .calendar-info .info-row span.info-data strong{
  font-size: 30px;
  font-weight: 700;
  font-family: var(--point-font);
  color: var(--main-darkGreyColor);
}
.schedule-con .popup-con .popup-gallery{
  width: 100%;
  height: 423px;
}
.schedule-con .popup-con .popup-gallery ul{
  width: 100%;
  height: inherit;
  position: relative;
}
.schedule-con .popup-con .popup-gallery ul li{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.schedule-con .popup-con .popup-gallery ul li.fade-on{
  visibility: visible !important;
  opacity: 1 !important;
}
.schedule-con .popup-con .popup-gallery ul li a{
  display: block;
  width: 100%;
  height: inherit;
}
.schedule-con .popup-con .popup-gallery .popup-controls{
  padding: 26px 35px;
  border-top: 1px solid var(--main-lightGreyColor);
}
.schedule-con .popup-con .popup-gallery .popup-controls span{
  display: block;
  float: left;
  font-size: 18px;
}
.schedule-con .popup-con .popup-gallery .popup-controls span strong{
  font-weight: 700;
  font-size: inherit;
}
.schedule-con .popup-con .popup-gallery .popup-controls .slide-controls{
  float: right;
}