/* section1 */
.title-banner{
  width: 100%;
  height: 297px;
  position: relative;
  padding-top: 100px;
  background: url("../../img/background.jpeg") center top / cover;
}
.title-banner p{
  font-size: 22px;
  font-family: var(--point-font);
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.title-banner h2{
  font-size: 50px;
  font-weight: 700;
  font-family: var(--point-font);
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.title-banner span{
  display: block;
  width: 656px;
  height: 95px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ed1a3aa3;
  font-family: var(--point-font);
}
.title-banner span strong{
  display: block;
  width: 336px;
  height: 95px;
  padding: 0 60px;
  background-color: var(--main-redColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 95px;
  text-align: center;
  color: #fff;
}
/* section2 - layout */
main .main-con{
  width: 100%;
  padding: 47px 0 150px;
}
main .main-con .inner-sec{
  width: 1280px;
  margin: 0 auto;
}
main .main-con .inner-sec::after{
  content: "";
  clear: both;
  display: block;
}
main .main-con .inner-sec .sec-con{
  width: 940px;
  float: left;
}
main .main-con .inner-sec aside{
  float: right;
  width: 270px;
}
/* section2 - main con */
.sec-con .top-title{
  padding-bottom: 35px;
}
.sec-con .top-title h2{
  margin: 7px 0 14px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  font-family: var(--point-font);
}
.sec-con .top-title .title-icons{
  padding-bottom: 20px;
  border-bottom: 2px dashed #ddd;
}
.sec-con .top-title .title-icons::after{
  display: block;
  content: "";
  clear: both;
}
.sec-con .top-title .title-icons ul.bread-crumbs{
  float: left;
}
.sec-con .top-title .title-icons ul.bread-crumbs li{
  float: left;
  margin-right: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.sec-con .top-title .title-icons ul.bread-crumbs li i{
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.sec-con .top-title .title-icons ul.bread-crumbs li a{
  display: block;
  width: 100%;
  height: auto;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.sec-con .top-title .title-icons ul.bread-crumbs li:last-child{
  position: relative;
  margin-left: 25px;
  font-weight: 700;
}
.sec-con .top-title .title-icons ul.bread-crumbs li:last-child::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  border-top: 5px solid #66666600;
  border-bottom: 5px solid #66666600;
  border-left: 5px solid #d9d9d9;
}
.sec-con .top-title .title-icons ul.button-box{
  float: right;
}
.sec-con .top-title .title-icons ul.button-box>li{
  width: 40px;
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.sec-con .top-title .title-icons ul.button-box>li:not(:first-child)::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #666666;
}
.sec-con .top-title .title-icons ul.button-box>li i{
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #666666;
}
.sec-con .top-title .title-icons ul.button-box>li ul.sns-list.menu-closed{
  display: none !important;
}
.sec-con .top-title .title-icons ul.button-box li.share-btn ul.sns-list{
  display: block;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #666;
}
.sec-con .top-title .title-icons ul.button-box li.share-btn ul.sns-list::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 6px solid #666;
  border-left: 6px solid #ffffff00;
  border-right: 6px solid #ffffff00;
}
.sec-con .top-title .title-icons ul.button-box li.share-btn ul.sns-list::after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  border-bottom: 5px solid #fff;
  border-left: 5px solid #ffffff00;
  border-right: 5px solid #ffffff00;
}
.sec-con .top-title .title-icons ul.button-box li.share-btn ul.sns-list li{
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
}
.sec-con .top-title .title-icons ul.button-box li.share-btn ul.sns-list li i{
  font-size: 14px;
}
/* section2 - contents */
.contents{
  padding: 40px 0;
}
.contents img{
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}
.contents p{
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}
/* section2 - aside lnb */
aside .aside-lnb li{
  width: 100%;
  padding: 0 15px 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: #666666;
}
aside .aside-lnb li:hover{
  border-bottom: 1px solid var(--main-blueColor);
  background-color: var(--main-blueColor);
  color: #fff;
}
aside .aside-lnb li:first-child{
  border-bottom: 1px solid var(--main-blueColor);
  background-color: var(--main-blueColor);
  color: #fff;
}
aside .aside-lnb li::after{
  content: "";
  clear: both;
  display: block;
}
aside .aside-lnb li a{
  display: block;
  width: calc(100% - 20px);
  float: left;
  font-size: 16px;
  font-family: var(--point-font);
  line-height: 62px;
  color: inherit;
}
aside .aside-lnb li span.aside-lnb-arrow{
  display: block;
  width: 20px;
  height: 62px;
  float: right;
}
aside .aside-lnb li span.aside-lnb-arrow i{
  display: block;
  width: 100%;
  line-height: 62px;
  text-align: center;
  color: #666666;
}
aside .aside-lnb li:first-child span.aside-lnb-arrow i{
  color: #fff;
}
aside .aside-lnb li:hover span.aside-lnb-arrow i{
  color: #fff;
}
aside .side-info{
  padding: 22px 35px;
  margin-top: 52px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
aside .side-info .title-txt{
  padding: 12px 0 6px;
  border-bottom: 1px solid #dddddd;
}
aside .side-info .title-txt p{
  font-size: 22px;
  font-weight: 700;
  font-family: var(--point-font);
}
aside .side-info .title-txt p span{
  color: var(--main-redColor);
}
aside .side-info .time-box{
  padding: 20px 0;
  font-size: 14px;
}
aside .side-info .time-box p.time{
  font-size: 27px;
  font-weight: 700;
  font-family: var(--point-font);
}
aside .side-info .time-box p.time-txt{
  font-size: 14px;
  font-weight: 700;
}
aside .side-info .closed-day-box{
  font-size: 14px;
  color: #222;
}
aside .side-info .closed-day-box .closed-day-title{
  font-weight: 700;
}