main #sec1{
  width: 100%;
  height: 297px;
  background: url("../../img/background.jpeg") no-repeat center top / cover;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
}
main #sec1 p{
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}
main #sec1 h2{
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
main #sec1 .gnb-title{
  width: 500px;
  height: 95px;
  background-color: #ed1a3a79;
  position: absolute;
  right: 0;
  bottom: 0;
}
main #sec1 .gnb-title span{
  display: block;
  width: 300px;
  height: inherit;
  line-height: 95px;
  font-size: 24px;
  font-weight: 700;
  background-color: #ed1a3b;
  color: #fff;
  padding-left: 60px;
  box-sizing: border-box;
}